<form method="post" id="{{ include.form_id | default: 'contact-form' }}" action="#" onsubmit="{{ include.onsubmit_callback | default: 'sendContactMessage' }}()" onreset="{{ include.onreset_callback | default: 'resetContactForm' }}()" >
    <div class="fields">
        <div class="field half">
            <label for="name">Name</label>
            <input type="text" name="{{ include.name_input_id | default: 'contact-name' }}" id="{{ include.name_input_id | default: 'contact-name' }}" placeholder="John Doe" required minlength="4" maxlength="64" />
        </div>
        <div class="field half">
            <label for="email">Email</label>
            <input type="email" name="{{ include.email_input_id | default: 'contact-email' }}" id="{{ include.email_input_id | default: 'contact-email' }}" placeholder="john.doe@example.com" required minlength="8" maxlength="64" />
        </div>
        <div class="field">
            <label for="message">Message</label>
            <textarea name="{{ include.message_input_id | default: 'contact-message' }}" id="{{ include.message_input_id | default: 'contact-message' }}" placeholder="Please reach out!" rows="4" required minlength="16" maxlength="256" ></textarea>
        </div>
    </div>
    <ul class="actions">
        <li><input type="submit" id="{{ include.submit_input_id | default: 'contact-submit-button' }}" value="Send Message" class="button primary fa-envelope" disabled /></li>
        <li><input type="reset" id="{{ include.reset_input_id | default: 'contact-reset-button' }}" value="Reset" class="icon button fa-undo" /></li>
    </ul>
    <div id="modal-recaptcha-window" class="modal" tabIndex="-1">
        <div class="inner">
            <div id="{{ include.recaptcha_widget_id | default: 'recaptcha-checkbox' }}" ></div>
        </div>
    </div>
</form>
