<section
class="panel {{ include.style.background.color | default: 'color4-alt' }}"
id="{{ include.id | default: 'contact' }}">
    <div class="intro {{ include.style.header.color | default: 'color4' }}">
        <h2 class="major">{{ include.title | default: 'Contact'}}</h2>
        <p>{{ include.description }}</p>
    </div>
    <div class="inner columns divided">
        <div class="span-3-25">
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="button primary" /></li>
                </ul>
            </form>
        </div>
        <div class="span-1-5">
            {% include social.html color=include.style.icons.color %}
        </div>
    </div>
</section>
