<section
class="panel {{ include.type }} {{ include.style.size }} {{ include.style.text.position | default: 'right' }} {{ include.style.background.color }}"
id="{{ include.id | default: include.type }}">
{%- if include.type=="banner" -%}
	{% include panel_banner.html header=include.header content=include.content style=include.style data=include.data %}
{%- elsif include.type=="contact" -%}
	{% include panel_contact.html header=include.header content=include.content style=include.style data=include.data %}
{%- elsif include.type=="spotlight" -%}
	{% include panel_spotlight.html header=include.header content=include.content style=include.style data=include.data %}
{%- elsif include.type=="map" -%}
	{% include panel_map.html header=include.header content=include.content style=include.style data=include.data %}
{%- else -%}
	{% include panel_generic.html header=include.header content=include.content style=include.style data=include.data %}
{%- endif -%}
</section>
