<div class="intro {{ include.style.header.joined }} {{ include.style.header.color }}">
    <h2 class="major">{{ include.header.title }}</h2>
    <p>{{ include.header.description }}</p>
</div>
{% if include.content %}
    {% include {{ include.content }} %}
{% else %}
<div class="inner">
    <ul class="grid-icons three connected">
        <li><span class="icon fa-gem"><span class="label">Lorem</span></span></li>
        <li><span class="icon solid fa-camera-retro"><span class="label">Ipsum</span></span></li>
        <li><span class="icon solid fa-cog"><span class="label">Dolor</span></span></li>
        <li><span class="icon solid fa-paper-plane"><span class="label">Sit</span></span></li>
        <li><span class="icon solid fa-chart-bar"><span class="label">Amet</span></span></li>
        <li><span class="icon solid fa-code"><span class="label">Nullam</span></span></li>
    </ul>
</div>
{% endif %}
