<!-- Social Icons -->
<ul class="contact-icons {{ include.color | default: 'color1' }}">
    {%- if site.twitter.url -%}
    <li class="icon brands fa-twitter"><a href="{{ site.twitter.url }}" target="_blank"><span class="label">{{ site.twitter.label }}</span></a></li>
    {%- endif -%}
    {%- if site.facebook.url -%}
    <li class="icon brands fa-facebook-f"><a href="{{ site.facebook.url }}" target="_blank"><span class="label">{{ site.facebook.label }}</span></a></li>
    {%- endif -%}
    {%- if site.snapchat.url -%}
    <li class="icon brands fa-snapchat-ghost"><a href="{{ site.snapchat.url }}" target="_blank"><span class="label">{{ site.snapchat.label }}</span></a></li>
    {%- endif -%}
    {%- if site.medium.url -%}
    <li class="icon brands fa-medium-m"><a href="{{ site.medium.url }}" target="_blank"><span class="label">{{ site.medium.label }}</span></a></li>
    {%- endif -%}
    {%- if site.instagram.url -%}
    <li class="icon brands fa-instagram"><a href="{{ site.instagram.url }}" target="_blank"><span class="label">{{ site.instagram.label }}</span></a></li>
    {%- endif -%}
    {%- if site.pinterest.url -%}
    <li class="icon brands fa-pinterest"><a href="{{ site.pinterest.url }}" target="_blank"><span class="label">{{ site.pinterest.label }}</span></a></li>
    {%- endif -%}
    {%- if site.500px.url -%}
    <li class="icon brands fa-500px"><a href="{{ site.500px.url }}" target="_blank"><span class="label">{{ site.500px.label }}</span></a></li>
    {%- endif -%}
    {%- if site.gitlab.url -%}
    <li class="icon brands fa-gitlab"><a href="{{ site.gitlab.url }}" target="_blank"><span class="label">{{ site.gitlab.label }}</span></a></li>
    {%- endif -%}
    {%- if site.github.url -%}
    <li class="icon brands fa-github"><a href="{{ site.github.url }}" target="_blank"><span class="label">{{ site.github.label }}</span></a></li>
    {%- endif -%}
    {%- if site.slack.url -%}
    <li class="icon brands fa-slack"><a href="{{ site.slack.url }}" target="_blank"><span class="label">{{ site.slack.label }}</span></a></li>
    {%- endif -%}
    {%- if site.linkedin.url -%}
    <li class="icon brands fa-linkedin"><a href="{{ site.linkedin.url }}" target="_blank"><span class="label">{{ site.linkedin.label }}</span></a></li>
    {%- endif -%}
</ul>
