@include breakpoint('<=small') {
    #wrapper {
        @include vendor('flex-direction', 'column');
        height: auto;
        margin: 0;
        box-shadow: 0 0.25rem 1.5rem 0.25rem transparentize(_palette(bg), 0.5);

        > .scrollZone {
            display: none;
        }

        body.is-preload & {
            @include vendor('transform', 'translateY(1rem)');
        }
    }
}

@include breakpoint('<=xsmall') {
    #wrapper {
        box-shadow: none;

        body.is-preload & {
            @include vendor('transform', 'none');
        }
    }
}
