---
layout: default
---
{%- assign collection = site.collections | where: "label", page.collection | first -%}
{%- assign panels = collection.docs | where: "lang", page.lang | where: "lang-ref", page.lang-ref | sort: 'index' -%}
{%- for item in panels -%}
    {%- if item.type=="banner" or item.type=="contact" or item.type=="generic" or item.type=="spotlight" or item.type=="map" -%}
        {% include panel.html type=item.type id=item.panel-id header=item.header style=item.style data=item.data content=item.content %}
    {%- else -%}
        {{ item.content }}
    {%- endif -%}
{%- endfor -%}
