form {
    @include breakpoint('<=small') {
        > .fields {
            $gutter: (_size(element-margin) * 0.75);

            width: calc(100% + #{$gutter * 2});
            margin: ($gutter * -1) 0 _size(element-margin) ($gutter * -1);

            > .field {
                padding: $gutter 0 0 $gutter;
                width: calc(100% - #{$gutter * 1});

                &.half {
                    width: calc(100% - #{$gutter * 1});
                }

                &.third {
                    width: calc(100% - #{$gutter * 1});
                }

                &.quarter {
                    width: calc(100% - #{$gutter * 1});
                }
            }
        }
    }
}
